{% extends "layout.html" %}
{% block body %}

    <nav class="navbar navbar-light bg-light fixed-top">
        <span class="navbar-text ml-auto mr-3 py-0" style="font-size:1.3em">¡Hola {{ session["user_name"] }}!</span>
        <a class="navbar-brand" href="{{ url_for('logout') }}">Salir</a>
    </nav>

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-3 bg">
            </div>

            <div class="col-lg-6 mt-5">

                <div class="row">
                    <div class="col-lg-6 offset-lg-3 mt-5 mb-3" style="text-align:center">
                        <h1>Buscar Libros</h1>
                    </div>
                </div>

                <form class="" action="{{ url_for('home') }}" method="post">
                    <div class="row">
                        <div class="col-lg-5 offset-lg-3">
                            {% if buscar is defined %}
                                <input class="form-control" type="text" name="buscar" value="{{ buscar }}" id="homeBuscar" placeholder="Ingrese autor, ISBN o titulo del libro">
                            {% else %}
                                <input class="form-control" type="text" name="buscar" value="" id="homeBuscar" placeholder="Ingrese autor, ISBN o titulo del libro">
                            {% endif %}
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-dark" type="submit" name="button">¡Buscar!</button>
                        </div>
                    </div>
                </form>

                {% if libros is defined %}

                    <hr class="mt-5" style="border-width:2px; border-color:#23272B;">

                    <div class="row">
                        <div class="col-lg-6 offset-lg-3 my-3" style="text-align:center">
                            <h2>Lista de Libros (Cantidad : {{ libros|length }})</h2>
                        </div>
                        <div class="col-lg-10 offset-lg-1" style="overflow: auto; height: 60vh;">

                            {% if libros|length == 0 %}
                                <div class="alert alert-info fade show mx-auto" role="alert" style="text-align:center">
                                      <h4>No se encontraron libros con ISBN, título o autor que contenga <strong>"{{ buscar }}"</strong> </h4>
                                </div>
                            {% else %}
                                <table class="table table-sm table-hover table-light table-bordered" id="tablaLibros">
                                    <thead class="thead-dark">
                                        <tr>
                                            <!-- <th scope="col">#</th> -->
                                            <th scope="col">ISBN</th>
                                            <th scope="col">Título</th>
                                            <th scope="col">Autor(es)</th>
                                            <!-- <th scope="col">Año</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for libro in libros %}

                                            <tr>
                                                <!-- <th>{{ libro.id }}</th> -->
                                                <th>{{ libro.isbn }}</th>
                                                <th><a href="{{ url_for('book', book_id=libro.id)}}">{{ libro.title }}</a></th>
                                                <th>{{ libro.name }}</th>
                                                <!-- <th>{{ libro.year }}</th> -->
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}

                        </div>
                    </div>

                {% endif %}

            </div>

            <div class="col-lg-3 bg-r">
            </div>

        </div>

    </div>

{% endblock %}
